<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Employee Details</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
        
        
    </head>
    <body>
        <div class="container">
            <h1 style="text-align:center;">Jenkins, Jerry</h1>
            <div class="card" style="width: 18rem;">  
                <img class="card-img-top" src="https://media.tenor.com/_02jugOehccAAAAM/wario-one-of-my-greatest-achievement.gif" alt="Card image cap"/>
                <div class="card-body">
                    <h5 class="card-title">Janitor</h5>
                    <p > Tasks completed: 7/7 (100%) </p>  
                    
                    <h3 > Tasks in Progress: </h3> 
                    <h5>Replace toilet seat in room 115b</h5>
                    <p>22 SEP 2021</p>
                    <h5>Replace light bulb in hallway on the 3rd floor</h5>
                    <p>15 MAR 2020</p>
                                      
                    <a href="/admin/employees/id/message" class="btn btn-primary">Message</a>
                    <a href="/admin/employees" class="btn btn-primary">Fire</a>
                </div>
            </div> 
            
            
        </div>
    </body>
</html>
